<!-- authentication/templates/authentication/signup.html -->
{% extends 'authentication/base.html' %}

{% load static %}  <!-- Load the static template tag -->

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="auth-container">
        
        <div class="logo-box">
            <img src="{% static 'images/image.png' %}" alt="Logo" class="logo">
        </div>
        <h2>Create Password!</h2>
        <p class="description">Protect your account with secure password<i class="fa fa-lock"></i>.</p>
         {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <hr>
        <form method="POST" class="auth-form">
            {% csrf_token %}
            <div class="form-floating mb-3 ">
              <input type="password" class="form-control border-top-0 border-end-0 border-start-0" id="floatingPassword" placeholder="Password" name='password' required>
              <label for="floatingPassword">Password</label>
            </div>
             <div class="form-floating mb-3 ">
              <input type="password" class="form-control border-top-0 border-end-0 border-start-0" id="floatingcPassword" placeholder="confirm Password" name="confirm_password" required>
              <label for="floatingPassword">cornfirm Password</label>
            </div>
            <button type="submit" class="btn btn-primary">save Password</button>
        </form>

    </div>
{% endblock %}
