{% extends 'authentication/base.html' %}

{% load static %}
{% block title %}Create Password | OneCart Discovery{% endblock %}

{% block content %}
    <div class="auth-container">
        <h2>Create Password</h2>

        {% if messages %}
            <div class="mb-3">
                {% for message in messages %}
                    <div class="alert alert-{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-container">
            <form method="POST" class="auth-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" id="floatingPassword" placeholder=" " name='password' required>
                    <label for="floatingPassword" class="form-label">Password</label>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="floatingcPassword" placeholder=" " name="confirm_password" required>
                    <label for="floatingcPassword" class="form-label">Confirm Password</label>
                </div>
                <button type="submit" class="btn btn-continue">Save Password</button>
            </form>
        </div>

        <div class="auth-links">
            <span><a href="{% url 'signin' %}">Back to Sign In</a></span>
        </div>
    </div>
{% endblock %}
