<!-- authentication/templates/authentication/signup.html -->
{% extends 'authentication/base.html' %}

{% load static %}  <!-- Load the static template tag -->

<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="auth-container">
        <div class="logo-box">
            <img src="{% static 'images/Finds.png' %}" alt="Versity Finds Logo" class="logo">
        </div>
        
        <h2>Create New Password</h2>
        <p class="description">Please enter a secure password for your account</p>
         {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="message {{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <hr>
        <form method="POST" class="auth-form">
            {% csrf_token %}
            <div class="form-group">
              <input type="password" class="form-control" id="floatingPassword" placeholder=" " name='password' required>
              <label for="floatingPassword" class="form-label">Password</label>
            </div>
             <div class="form-group">
              <input type="password" class="form-control" id="floatingcPassword" placeholder=" " name="confirm_password" required>
              <label for="floatingcPassword" class="form-label">Confirm Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Save Password</button>
        </form>

    </div>
{% endblock %}
