{% extends 'products/shop_base2.html' %}

{% block title %}View Product{% endblock %}
{% load static %}

{% block content %}

<div class=" w-100 mx-0 px-0">
	
	<div class="row mx-0 p-0 d-flex w-100 justify-content-between" style="background-color:white;">
		<div class="col-3 p-2 position-relative advert" >
			<p class="bg-dark text-light p-1 small" style="position:absolute; top:2%;left:2%;">Shop by Food</p>
			<div class=" border shadow" style="height:500px;">
				 <img src="{% static 'products/image/food1.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: contain;">
			</div>
		</div>
		<div class="col-12 col-md-6 p-2 position-relative " >
			<p class="bg-dark text-light p-1 small advert" style="position:absolute; top:2%;left:2%;">Shop by Computers</p>
			<div class=" border shadow advert" style="height:250px;">
				 <img src="{% static 'products/image/nemtech.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">
			</div>
			<div class="  mt-2 position-relative" style="height:250px;">
				<h5 class="fw-bold text-muted" style="position:absolute; top:5%;left:3%">Featured Categories</h5>
				 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="height: 100%;">
					  <div class="carousel-indicators">
					    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
					    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					  </div>
					  <div class="carousel-inner">
					    <div class="carousel-item active ">
					   		<div class="d-flex justify-content-center  align-items-center pt-5 mt-4">
					    		
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/nemtech.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">Electronics</p>
						     </div>
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/food.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">FastFood</p>
						     </div>
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/fen.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">Furniture</p>
						     </div>
					      </div>
					    </div>
					    <div class="carousel-item">
					     <div class="d-flex justify-content-center  align-items-center pt-5 mt-4">
					    		
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/nemtech1.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">Electronics</p>
						     </div>
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/nemtech1.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">Electronics</p>
						     </div>
						     <div class="px-2">
						     	<div>
							     	<div style="border:1px solid lightgrey; border-radius: 50%; overflow: hidden; width: 80px;height: 80px;">
							     		 <img src="{% static 'products/image/nemtech1.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: zoom;">

							     	</div>
						     	</div>
						     	<p class="fw-bold small text-muted">Electronics</p>
						     </div>
					      </div>
					    </div>
					   
					  </div>
					  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
					    <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
					    <span class="visually-hidden">Previous</span>
					  </button>
					  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
					    <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
					    <span class="visually-hidden ">Next</span>
					  </button>
					</div>
			</div>
		</div>
		<div class="col-3 p-2 position-relative advert">
			<p class="bg-dark text-light p-1 small" style="position:absolute; top:2%;left:2%;">Shop by Cell Phones</p>
			<div class="border shadow"  style="height:500px;">
				 <img src="{% static 'products/image/nemtech1.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: contain;">
			</div>
		</div>
	</div>


</div>

<!-- ###### YOU MIGHT ALSO LIKE ########################## -->
<div class="row m-0 p-0">
<div class="col-12 col-md-9">
	

<div class="row mt-3 d-flex justify-content-between">
	<div class="col-12  p-3 mb-4" style="background-color: none;"> 
		<div class="d-flex justify-content-between mb-2">
			<h5 class="fw-bold text-muted">Last Viewed</h5>
			<button class="btn btn-outline-dark rounded-0"><i class="fa fa-eye"></i> View all </button>
		</div>
	
	<div class=" d-flex justify-content-start pb-3" style=" overflow-x: scroll;">
		{% for product in products %}
		<div class="border shadow rounded mx-2" style="width: 200px;">
			
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a onclick="addWishlist({{product.id}})" class="like"><i class="fa-regular fa-heart fa-1x text-danger" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				{% if product.slug and product.business.slug %}
					<a class="text-dark prods" href="{% url 'view_product' product.business.slug product.slug %}">
				{% else %}
					<a class="text-dark prods" href="{% url 'view_business_products' product.business.slug %}">
				{% endif %}
				{% if product.image.url %}
				<img src="{{product.image.url}}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
				{% endif %}
			</a>
			</div>
		
			<div class="px-2 mt-2">
				{% if product.slug and product.business.slug %}
					<a class="  prods" href="{% url 'view_product' product.business.slug product.slug %}">
				{% else %}
					<a class="  prods" href="{% url 'view_business_products' product.business.slug %}">
				{% endif %}
				<h6>{{product.name}}</h6>
				</a>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R {{product.price}}</h6><br>
				<!-- <del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del> -->
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0" onclick="addCart({{product.id}})"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>

			</div>
		</div>
		{% endfor %}


	


	 </div>
	</div>
	
</div>


<!-- ###### YOU MIGHT ALSO LIKE ########################## -->

<!-- ###### YOU MIGHT ALSO LIKE ########################## -->


<!-- <div class="row mt-3 d-flex justify-content-between">
	<div class="col-12  p-3 mb-4" style="background-color: none;"> 
		<div class="d-flex justify-content-between mb-2">
			<h5 class="fw-bold text-muted">Most Visited</h5>
			<button class="btn btn-outline-dark rounded-0"><i class="fa fa-eye"></i> View all </button>
		</div>
	
	<div class=" d-flex justify-content-start pb-3" style=" overflow-x: scroll;">

		<div class="border shadow rounded mx-2" style="width: 200px;">
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a href="#" class="like"><i class="fa-regular fa-heart fa-1x" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				<img src="{% static 'products/image/image.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
			</div>
			<div class="px-2 mt-2">
				<h6>Surge Manic Icon Skateboard - Black Cruiser</h6>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R 1,400</h6><br>
				<del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del>
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>
			</div>
		</div>
		<div class="border shadow rounded mx-2" style="width: 200px;">
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a href="#" class="like"><i class="fa-regular fa-heart fa-1x" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				<img src="{% static 'products/image/image.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
			</div>
			<div class="px-2 mt-2">
				<h6>Surge Manic Icon Skateboard - Black Cruiser</h6>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R 1,400</h6><br>
				<del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del>
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>
			</div>
		</div>
		<div class="border shadow rounded mx-2" style="width: 200px;">
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a href="#" class="like"><i class="fa-regular fa-heart fa-1x" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				<img src="{% static 'products/image/image2.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
			</div>
			<div class="px-2 mt-2">
				<h6>Surge Manic Icon Skateboard - Black Cruiser</h6>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R 1,400</h6><br>
				<del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del>
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>
			</div>
		</div>
		<div class="border shadow rounded mx-2" style="width: 200px;">
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a href="#" class="like"><i class="fa-regular fa-heart fa-1x" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				<img src="{% static 'products/image/image2.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
			</div>
			<div class="px-2 mt-2">
				<h6>Surge Manic Icon Skateboard - Black Cruiser</h6>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R 1,400</h6><br>
				<del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del>
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>
			</div>
		</div>
		<div class="border shadow rounded mx-2" style="width: 200px;">
			<div class="position-relative p-1" style="width: 200px; height: 200px; overflow-x: hidden;">
				<button class="btn btn-primary fw-bold" style="font-size: 11px; position: absolute; top: 5%;left: 5%; z-index: 100;"> 20% <br>OFF</button>

				<a href="#" class="like"><i class="fa-regular fa-heart fa-1x" style=" position: absolute; top: 8%;right: 5%; z-index: 100;"> </i>
				</a>
				<img src="{% static 'products/image/image.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: fill;">
			</div>
			<div class="px-2 mt-2">
				<h6>Surge Manic Icon Skateboard - Black Cruiser</h6>
				<div class="d-flex justify-content-start">
				<h6 class="fw-bold">R 1,400</h6><br>
				<del class=""><span class="fw-bold text-muted small mx-2">R 1650</span></del>
			</div>
				<p class="mt-2 text-muted" style="font-size:14px;"><i class="fa fa-star text-warning"></i><b> 4.6</b> <a class="text-decoration-none px-2" href="#"> 12 Reviews</a></p>
			</div>
			<div class="p-2">
			<button class="btn btn-outline-success w-100 mb-3 border rounded-0"><i class="fa fa-shopping-cart"> </i> Add to Cart</button>
			</div>
		</div>


	 </div>
	</div>
	
</div> -->

</div>

<div class="col-12 col-md-3 mt-3  ">
		
	<div class=" position-relative advert border p-1" >
			<p class="bg-dark text-light p-1 small" style="position:absolute; top:2%;left:2%;">Shop by Furniture </p>
			<div class=" border shadow">
				 <img src="{% static 'products/image/fen.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: contain;">
			</div>
		</div>


		
	<div class=" position-relative advert mt-5 border p-1" >
			<p class="bg-dark text-light p-1 small" style="position:absolute; top:2%;left:2%;">Shop By hair Product</p>
			<div class=" border shadow">
				 <img src="{% static 'products/image/hair.png' %}" class="d-block w-100" alt="..." style="width: 100%; height: 100%; object-fit: contain;">
			</div>
		</div>
	
</div>

</div>
<script type="text/javascript" src="{% static 'seller/js/display_message.js' %}"></script>
<script src="{% static 'user/js/cart.js' %}"></script>
{% endblock%}
