{% extends 'home/buyer_dashboard.html' %}

{% block title %}Address Book{% endblock %}

{% block content %}
<div class="container mt-4">
   <!-- Breadcrumb navigation -->
   <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color: #343a40; border-radius: 0; padding: 8px 15px;">

        <li class="breadcrumb-item">
            <a href="{% url 'dash' %}" style="color: white; text-decoration: none;">Account</a>
        </li>
       
        <li class="breadcrumb-item active" aria-current="page" style="color: white;">Address</li>
    </ol>
    </nav>


{% endblock %}