{% extends 'home/base1.html' %}

{% block title %}Cart{% endblock %}
{% load static %}

{% block content %}
<div class="container m-0 p-0">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: linear-gradient(135deg,  #1a2848, #2c76b7); border-radius: 0; padding: 8px 15px;">

            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="text-white text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dash' %}" class="text-white text-decoration-none">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="color: white;">Cart</li>
        </ol>
    </nav>

    <!-- Wish List Section -->
    <div class="row pad">
        
            <div class="col-12 text-center py-2 px-4 d-flex justify-content-between pad">
                
                <h4 class="text-muted">My Cart</h4>
               
                <p class="text-muted">You have 2 items in your Cart!</p>
            </div>
      <div class="row d-flex justify-content-between flex-wrap mb-5 mx-0">
        <div class=" col-12 col-md-8 " style="margin-bottom: 100px;">
        <div class="pad">
           <div class="row p-4 border  shadow d-flex justify-content-between mb-3" style="background-color:white;">
           
          

            <div class="col-12 col-md-6 d-flex justify-content-start mb-2">
                   <div class="border rounded mx-2 " style="width: 150px; height: 150px; overflow: hidden;">
                        <img src="{% static 'images/order2.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                    </div>
                    <div class="p-3">
                        <h6 >Teen Wolf Combo Keyboard and mouse RGB </h6>
                        <span class="text-primary small">T-Wolf</span><br>
                        <i class="fa fa-star text-warning"></i><span class="text-muted small fw-bold"> 4.6</span><br>
                        <span class="text-dark fw-bold">In-Stock : <button class="btn btn-light border  p-1 mx-3 small">BWP</button></span><br>
                        
                    </div>
                </div>

                 <div class="col-12 col-md-6 mt-3  price">
                <div>
                        
                    <div class="d-flex justify-content-end">
                        <h5 class="fw-bold ">R 300</h5>
                    </div>
                     <div class="d-flex justify-content-end">
                        <del><h6 class="text-muted small fw-bold">R 450</h6></del>
                    </div>
                </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark rounded-0 mx-2"><i class="fa fa-trash"></i> </button>
                        <button class="btn btn-danger rounded-0 "><i class="fa fa-plus"></i> <i class="fa fa-heart"></i></button>  

                    </div>
                    
                </div>
           </div> 
       </div>
            <div class="pad">
            <div class="row p-4 border shadow shadow d-flex justify-content-between" style="background-color:white;">
            <div class="col-12 col-md-6 d-flex justify-content-start mb-2">
                   <div class="border rounded mx-2 " style="width: 150px; height: 150px; overflow: hidden;">
                        <img src="{% static 'images/order.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                    </div>
                    <div class="p-3">
                        <h6 >Volkano Wireless easrpods </h6>
                        <span class="text-primary small">Volkano</span><br>
                        <i class="fa fa-star text-warning"></i><span class="text-muted small fw-bold"> 4.6</span><br>
                        <span class="text-dark fw-bold">In-Stock : <button class="btn btn-light border  p-1 mx-3 small">BWP</button></span><br>
                        
                    </div>
                </div>

                <div class="col-12 col-md-6 mt-3  price">
                <div>
                        
                    <div class="d-flex justify-content-end">
                        <h5 class="fw-bold ">R 300</h5>
                    </div>
                     <div class="d-flex justify-content-end">
                        <del><h6 class="text-muted small fw-bold">R 450</h6></del>
                    </div>
                </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-dark rounded-0 mx-2"><i class="fa fa-trash"></i> </button>
                        <button class="btn btn-danger rounded-0 "><i class="fa fa-plus"></i> <i class="fa fa-heart"></i></button>  

                    </div>
                    
                </div>
           </div> 
           
            <!-- No Wish List Items Found -->
            <div class="col-12 text-center py-5 " style="display:none;">
                <i class="fas fa-heart" style="color: gray; font-size: 2rem;"></i>
                <h4 class="text-muted">Your Wish List is Empty!</h4>
                <p class="text-muted">Start adding your favorite items and plan ahead for special occasions!</p>
                <a href="{% url 'home' %}" class="btn btn-outline-primary rounded-pill" style="border-color: #165baa; color: #165baa;">
                    <i class="fas fa-shopping-cart"></i> Continue Shopping
                </a>
            </div>
       
    </div>
</div>
<div class="col-12 col-md-4">
    <div class="check mb-4">
    <div class="pad">
         <div class="row p-4 border  shadow " style="background-color:white;">
            <p class="text-muted small"> <i class="fa fa-lock pe-1"></i> Secure Checkout</p>
            <p class="text-muted"> <i class="fa fa-credit-card pe-1"> </i> Multiple Payment Method</p>
            <p class="text-muted"> <i class="fa fa-truck pe-1"></i> Fast, Relaible Delivery</p>
        </div>
        
    </div>
</div>

    <div class=" checkout">
    <div class="pad">
         <div class="row p-4 border  shadow " style="background-color:white;">
            <h6 class="text-muted "> Cart Summary</h6>
            <div class="d-flex justify-content-between flex-wrap">
                <p class="fw-bold">Total: <span class="text-muted">(2 items)</span></p>
                <h4 class="fw-bold text-success">R 600</h4>
            </div>
            <a href="{% url 'checkout' %}" class="btn btn-success w-100 rounded-0"> Proced to Checkout</a>
        </div>
        
    </div>
</div>

</div>


</div>
</div>
{% endblock content %}
