{% extends 'products/shop_base.html'%}

{% block stylers %}
<style type="text/css">
    .card-container {
    	border: 1px solid lightblue;
    	border-radius: 10px;
        max-width: 400px; 
        background: linear-gradient(135deg, #1a2848, #2c76b7);
        background-size: 200% 200%; /* Expand the background gradient */
        transition: background-position 3s ease-in-out; /* Animate background position */
    }

    .contents {background: white;
        max-width: 80%;
        min-width: 80%;
        border-radius: 50%;
        border-top-left-radius: 0px; 
        border-bottom-left-radius: 0px;
        transition: background 0.5s ease-in-out, color 0.5s ease-in-out; /* Apply ease-in-out */
    }

    .contents a {
        text-decoration: none;
        color:  #2c76b7;
        transition: color 0.5s ease-in-out;
        margin-bottom: 10px; /* Apply ease-in-out for link color */
    }

    .card-container:hover {
        background-position: 100% 0; /* Change the background position on hover to move the gradient */
    background: white;}

    .card-container:hover .contents {
        background: linear-gradient(135deg,  #2c76b7, #2c76b7);
        color: white; /* Change the text color */
    }

    .card-container:hover .contents a {
       color: white;
         /* Change the link color */
    }
    .contents a:hover{
    	color: white;
    	font-size: 20px;

    }

</style>



{% endblock %}
{% block content %}
<div class="row align-items-center justify-content-center">
	<div class="col-sm-12 col-md-6 card-container p-0 m-4 shadow-lg d-flex justify-content-between jj" style="max-width: 400px; background: linear-gradient(135deg,  #1a2848, #2c76b7);" >
        
        <div class="contents  p-3" >
            <h5 class="text-white"><b>Profile Details</b></h5>
            <br>
            
            <a href="{% url 'profile' %}" class=" small mb-2 fw-bold" > Personal Details</a>
            <br>
            
            <a href="{% url 'address' %}" class=" small pb-2 fw-bold" >Address Book</a>
            <br>
            
            <a href="{% url 'account_settings' %}" class=" small fw-bold" style="text-decoration: none;">Security Settings</a>
        </div>
        <i class="fa fa-user fa-3x text-white p-4"></i>

    </div>

    <div class="col-sm-12 col-md-6 card-container p-0 m-4 shadow-lg d-flex justify-content-between jj" style="max-width: 400px; background: linear-gradient(135deg,   #1a2848, #2c76b7);" >
        
        <div class="contents  p-3" >
            <h5 class="text-white"><b>Orders</b></h5>
            <br>
            
            <a href="{% url 'order_history' %}" class=" small mb-2 fw-bold" > Order history</a>
            <br>
            
            <a href="{% url 'track_orders' %}" class=" small pb-2 fw-bold" >Track orders</a>
            <br>
            <a href="" class=" small pb-2 fw-bold" >My wish list</a>
            <br>
            
             <a href="{% url 'buyer_reviews'%}" class=" small pb-2 fw-bold" >Product Reviews</a>
            <br>
        </div>
        <i class="fa fa-shopping-cart fa-3x text-white px-2 pt-4"></i>

    </div>

    <div class=" col-sm-12 col-md-6 card-container p-0 m-4 shadow-lg d-flex justify-content-between jj" style="max-width: 400px; background: linear-gradient(135deg,   #1a2848, #2c76b7);" >
        
        <div class="contents  p-3" >
            <h5 class="text-white" ><b>Payment</b></h5>
            <br>
            
            <a href="" class=" small mb-2 fw-bold" > Credit & refunds</a>
            <br>
            
            <a href="" class=" small pb-2 fw-bold" >Gift card</a>
            <br>
            <a href="" class=" small pb-2 fw-bold" > Refferals & earnings</a>
            <br>
           
            
        </div>
        <i class="fa fa-credit-card fa-3x text-white  px-2 pt-4"></i>

    </div>

    <div class="col-sm-12 col-md-6 card-container p-0 m-4 shadow-lg d-flex justify-content-between jj" style="max-width: 400px; background: linear-gradient(135deg,   #1a2848, #2c76b7);" >
        
        <div class="contents  p-3" >
            <h5 class="text-white" ><b>More</b></h5>
            <br>
            
            <a href="" class=" small mb-2 fw-bold" >Subscription Plan</a>
            <br>
            
            <a href="" class=" small pb-2 fw-bold" >Payment history</a>
            <br>
            <a href="" class=" small pb-2 fw-bold" >Customer Support</a>
            <br>
            
        </div>
        <i class="fa fa-star fa-3x text-white  px-2 pt-4"></i>

    </div>

</div>
  
    <!-- <div class="card-container p-0 m-5 shadow-lg d-flex justify-content-between jj" style="max-width: 400px; background: linear-gradient(135deg,   #1a2848, #2c76b7);" >
        
        <div class="contents  p-3" >
            <h5>Profile Details</h5>
            <br>
            
            <a href="{% url 'profile' %}" class=" small mb-2" > Personal Details</a>
            <br>
            
            <a href="{% url 'address' %}" class=" small pb-2" >Address Book</a>
            <br>
            
            <a href="{% url 'account_settings' %}" class=" small " style="text-decoration: none;">Security Settings</a>
        </div>
        <i class="fa fa-user fa-3x text-white p-4"></i>

    </div>

    s -->
{% endblock %}