{% extends 'home/buyer_dashboard.html' %}

{% block title %}User Profile{% endblock %}

{% block content %}
<style>
    .card-header {
        background-color: #165baa;
        color: white;
    }
    
    .btn-custom {
        background-color: #165baa;
        color: white;
        border: none;
    }
    
    .btn-custom:hover {
        background-color: #0f4f8a;
    }
    
    .card-icon {
        margin-right: 5px;
    }

    .form-check-label {
        margin-left: 10px;
    }
    .card{
        transition: border-color 0.3s ease;
        transition: transform 0.3s ease;
    }
    .card:hover{
         transform: scale(1.02);
         border: 2px solid skyblue;
         box-shadow: 0 8px 12px rgba(0, 0, 255, 0.4);
    }
</style>

<div class="container mt-5">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'base' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">User Profile</li>
        </ol>
    </nav>
            <div>
                <div class="card w-100 mb-3 bg-light rounded-0 ">
                  
                    <div class="card-body" id="username-disp" style="display:block;">
                        <h5 class="card-title"><b>Username</b></h5>
                        <div class="d-flex  justify-content-between ">
                            <p class="card-text pt-0 pb-0">{{user.username}}</p>
                            <button type="button" class="btn btn-outline-dark rounded-0 m-0 " onclick="edit_button('username')">Edit</button>
                        </div>
                    </div> 

                    <div class="card-body" id="username-form" style="display:none;">
                        <h5 class="card-title"><b>Username</b></h5>
                        <form method="POST" class="auth-form">
                        {% csrf_token %}
                            <div class="d-flex  justify-content-between ">
                                   <div class="form-floating mb-3 w-75">
                                      <input type="text" class="form-control border-top-0 border-end-0 border-start-0 border-bottom-2" id="floatingInput" placeholder="" name='username' value="{{user.username}}" >
                                      <label for="floatingInput">Username</label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary px-3 rounded-0">Save</button>
                                        <button type="button" class="btn btn-outline-danger rounded-0 px-3" onclick="cancel_button('username')" >Cancel</button>    
                                    </div>
                            </div>
                        </form>   
                    </div>

                </div>
            </div>

             <div>
                <div class="card w-100 mb-3 bg-light rounded-0" >
                  <div class="card-body " id="fullname-disp">
                    <h5 class="card-title"><b>Full Name</b></h5>
                    <div class="d-flex  justify-content-between ">
                        <p class="card-text">{{user.first_name}} {{user.last_name}}</p>
                        <button type="button" class="btn btn-outline-dark rounded-0 m-0 " onclick="edit_button('fullname')">Edit</button>
                    </div>
                  </div>
                 <div class="card-body" id="fullname-form" style="display:none;">
                        <h5 class="card-title"><b>Full Name</b></h5>
                        <form method="POST" class="auth-form">
                        {% csrf_token %}
                            <div class="">
                                   <div class="form-floating mb-3 w-75">
                                      <input type="text" class="form-control border-top-0 border-end-0 border-start-0 border-bottom-2" id="floatingInput" placeholder="" name='username' value="Jeff" >
                                      <label for="floatingInput">First Name</label>
                                    </div>
                                     <div class="form-floating mb-3 w-75">
                                      <input type="text" class="form-control border-top-0 border-end-0 border-start-0 border-bottom-2" id="floatingInput" placeholder="" name='username' value="Nengovhela" >
                                      <label for="floatingInput">Last Name</label>
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <button type="submit" class="btn btn-primary px-3 rounded-0">Save</button>
                                        <button type="button" class="btn btn-outline-danger rounded-0 px-3" onclick="cancel_button('fullname')" >Cancel</button>    
                                    </div>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
             <div>
                <div class="card w-100 mb-3 bg-light rounded-0">
                  <div class="card-body" id="email-disp" style="display:block;">
                    <h5 class="card-title"><b>Email</b></h5>
                    <div class="d-flex  justify-content-between ">
                        <p class="card-text">{{user.email}} <i class="fa fa-times-circle text-danger  p-3 pt-0 pb-0"> </i></p>
                      <button type="button" class="btn btn-outline-dark rounded-0 m-0 " onclick="edit_button('email')">Edit</button>
                    </div>
                  </div>
                  <div class="card-body" id="email-form" style="display:none;">
                        <h5 class="card-title"><b>Email</b></h5>
                        <form method="POST" class="auth-form">
                        {% csrf_token %}
                            <div class="d-flex  justify-content-between ">
                                   <div class="form-floating mb-3 w-75">
                                      <input type="email" class="form-control border-top-0 border-end-0 border-start-0 border-bottom-2" id="floatingInput" placeholder="" name='username' value="{{user.email}}" >
                                      <label for="floatingInput">Email</label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary px-3 rounded-0">Save</button>
                                        <button type="button" class="btn btn-outline-danger rounded-0 px-3" onclick="cancel_button('email')" >Cancel</button>    
                                    </div>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>
             <div>
                <div class="card w-100 mb-3 bg-light rounded-0">
                  <div class="card-body" id="phone-disp" style="display:block;">
                    <h5 class="card-title">Phone</h5>
                    <div class="d-flex  justify-content-between ">
                        <p class="card-text">(+27) 64 548 9327 <i class="fa fa-check-circle text-success  p-3 pt-0 pb-0"> </i></p>
                         <button type="button" class="btn btn-outline-dark rounded-0 m-0 " onclick="edit_button('phone')">Edit</button>
                    </div>
                  </div>
                   <div class="card-body" id="phone-form" style="display:none;">
                        <h5 class="card-title"><b>Phone</b></h5>
                        <form method="POST" class="auth-form">
                        {% csrf_token %}
                            <div class="d-flex  justify-content-between ">
                                   <div class="form-floating mb-3 w-75">
                                      <input type="text" class="form-control border-top-0 border-end-0 border-start-0 border-bottom-2" id="floatingInput" placeholder="" name='username' value="(+27) 64 548 9327" >
                                      <label for="floatingInput">phone</label>
                                    </div>
                                    <div>
                                        <button type="submit" class="btn btn-primary px-3 rounded-0">Save</button>
                                        <button type="button" class="btn btn-outline-danger rounded-0 px-3" onclick="cancel_button('phone')" >Cancel</button>    
                                    </div>
                            </div>
                        </form>   
                    </div>
                </div>
            </div>




</div>

<script type="text/javascript">
    
    function edit_button(name){
        var displays = document.getElementById(name+'-disp');
        var forms = document.getElementById(name+'-form');

        displays.style.display = 'none';
        forms.style.display = 'block';

    }
    function cancel_button(name){
        var displays = document.getElementById(name+'-disp');
        var forms = document.getElementById(name+'-form');

        forms.style.display = 'none';
        displays.style.display = 'block';
    }

</script>
{% endblock content %}

