{% extends 'products/shop_base.html' %}

{% block title %}Order History{% endblock %}

{% block styles %}

{% endblock %}
{% load static %}

{% block nav %}
            <ul class="nav flex-column px-3 mt-2">
                <div class="flex-container ">
                    
                    <h5 class="fw-bold">Profile </h5>
                    <hr >
                </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'profile' %}">
                        <i class="fas fa-user me-2"></i> Personal details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'account_settings' %}">
                        <i class="fas fa-cog me-2"></i> Account Settings
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'address' %}">
                        <i class="fas fa-user-cog me-2"></i> Address Book
                    </a>
                </li>
                  <div class="flex-container ">

                <h5 class="fw-bold">Orders</h5>
                 <hr >
             </div>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center active" href="{% url 'order_history' %}">
                        <i class="fas fa-history me-2"></i> Order History
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'wish_lists' %}">
                        <i class="fas fa-heart me-2"></i> Wish Lists
                    </a>
                </li>
              
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_reviews' %}">
                        <i class="fas fa-star me-2"></i> Reviews
                    </a>
                </li>
                  <div class="flex-container ">
                <h5 class="fw-bold">Payment</h5>
                 <hr >
             </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'credit' %}">
                        <i class="fas fa-headset me-2"></i> Credit & Refunds
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'gift_card' %}">
                        <i class="fas fa-headset me-2"></i> Gift Card
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'referrals_earnings' %}">
                        <i class="fas fa-headset me-2"></i> Refferals & earnings
                    </a>
                </li>
                  <div class="flex-container ">
                <h5 class="fw-bold">More</h5>
                 <hr >
             </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-headset me-2"></i> Subscription plan
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-headset me-2"></i> Payment history
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-headset me-2"></i> Support
                    </a>
                </li>
            </ul>
            {% endblock %}

{% block content %}
<div class="container p-0">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb" style=" border-radius: 0; padding: 8px 15px;">

            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" style="color: black; text-decoration: none;">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dash' %}" style="color: black; text-decoration: none;">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'order_history' %}" style="color: black; text-decoration: none;">Order history</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="color: black;"> Order details</li>
        </ol>
    </nav>

    <!-- Filter Options for Order History -->
    <div class="mb-4 d-flex justify-content-between">
        <div>
            <a href="{% url 'track_orders' order.id %}" class="btn btn-dark rounded-0 ">
                <span>Track Order</span>
            </a>
        </div>
        <div>
            
            <a class="btn btn-outline-dark rounded-0 " href="{% url 'order_history'%}"> View Orders</a>

        </div>
    </div>

    <div id="viewdetails" style="display:block;">
        <div class="row  w-100 mx-0 mb-5" >
            <div class="col-12  d-flex justify-content-between flex-wrap w-100 p-3  border shadow" style="background-color:white;">
                <div class=" w-100  d-flex justify-content-start flex-wrap"  >
                    <div class="d-flex justify-content-start">
                        <span class="px-3  "><b>Order #{{order.order_id}}</b></span>
                       <span class="border border" style="width: 2px; height: 50%; background-color: black; margin-top: -5px;"></span>
                    </div>
                    <div class="d-flex justify-content-start">
                        <span class="px-3">Ordered {{order.created_at}} </span>

                         <span class="border border" style="width: 2px; height: 50%; background-color: black; margin-top: -5px;"></span>
                    </div>
                    <span class="px-3"> Paid {{order.created_at}} </span>
                </div>
                <div class="">
                    
                   <button class="btn btn-dark rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Invoice</button>
                </div>
                
            </div>
           
           <div class="row d-flex  mx-0 justify-content-between w-100 p-4 border p-0  shadow " style="background-color:white;">
               <div class="col-12 col-md-4">

                    <h6 class="fw-bold"><i class="fa fa-shopping-cart"></i> Delivery address</h6><br>
                   <span class="text-muted small">{{user.username}}</span><br>
                   {% if order.delivery_address == "delivery" %}
                   <span class="text-muted small">{{address.notes}}</span><br>
                   <span class="text-muted small">{{address.address_line_1}}</span><br>
                   <span class="text-muted small">{{address.address_line_2}}</span><br>
                   <span class="text-muted small">{{address.address_line_3}}</span><br>
                   <span class="text-muted small">{{address.address_line_4}}</span>
                   {% else %}

                   {% endif %}
               </div>
               

               <div class="col-12 col-md-4">
                   <div>
                        
                        <h6 class="fw-bold"><i class="fa fa-car"></i> Delivery Method</h6><br>
                        <span class="text-muted small">{{order.delivery_method}}</span><br>
                   </div>
                   <div class="mt-4">
                    
                        <h6 class="fw-bold"><i class="fa fa-credit-card"></i> Payment Method</h6><br>
                        <span class="text-muted small">Credit / debit card</span><br>
                    </div>
               </div>

               <div class="col-12 col-md-4">
                
                    <h6 class="fw-bold"><i class="fa fa-list"></i> Order Summary</h6><br>
                     <span class="d-flex justify-content-between text-muted small">{{items_count}} items  <b>R {{price_total}}</b></span>
                     <span class="d-flex justify-content-between text-muted small">{{extras_count}} extras  <b>R {{extra_total}}</b></span>
                     {% if order.delivery_method == "delivery" %}
                    <span class="d-flex justify-content-between text-muted small" >Delivery <b>R 15 </b></span>
                    {% endif %}
                    <br><br>
                    <span class="d-flex justify-content-between text-muted small">Order Total <b>R {{total}}</b></span>
                    <span class="d-flex justify-content-between text-muted small">Paid  <b>- R {{total}}</b></span><br>


               </div>

           </div>  
        </div>

       <div class="row mx-0 w-100 " >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <div class="" >
                <h6 class="fw-bold">{{order.status}} {% if order.status == "Delivered" %} Today ,21 November 2024 {% endif %}</h6>
                <p><i class="fa fa-user-circle text-success"></i> Signed by {{user.first_name}} <span class="text-muted small">(customer)</span></p>
            </div>
            <div class="">
                
                <button class="btn btn-dark rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight">Show items</button>
            </div>
            
        </div>
       
       <div class=" d-flex justify-content-between p-4 border shadow shadow" style="background-color:white;">
            <div class="w-100 d-flex justify-content-start" >
            {% for order_item in order_items %}
               <div class="border rounded mx-1" style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{{order_item.product.image.url}}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
            {% endfor %}
                 
            </div>
            <div class="tex-center ">
                <a href="{% url 'track_orders' order.id %}" style="text-decoration:none;" class="btn btn-outline-primary">
                   <span>Track</span> <br> <i class="fa fa-truck px-3"></i> <br> <span>Order</span>

                </a>
            </div>

       </div>  
       </div>
        

    </div>















<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel " style="z-index: 1350;">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class=" text-center w-100 d-flex justify-content-center fw-bold">Invoices</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-light shadow border p-4 ">
    <div class="p-3 w-100 border fw-bold mb-3" style="background-color:white;">
        Order #{{order.order_id}}, 16 May 2024
    </div>


    <div class="  w-100 mb-3" >
        <div class="d-flex justify-content-between flex-wrap w-100 p-3  border shadow" style="background-color:white;">
            <div class="" >
                <h6 class="">Sold by : <span class="fw-bold">{{order.business.name}}.</span></h6>
               <span class="text-muted small">Invoice Total: R {{total}} </span>
            </div>
            <div class="">
                
               
                <button class="btn btn-dark rounded-0"><i class="fa fa-download"></i> Download invoice</button>
            </div>
            
        </div>
       
       <div class=" p-4 border shadow shadow" style="background-color:white;">
            <h6 class="text-muted">Invoice items</h6>
            <br>
          
            {% for item in order_items %}
             <div class="d-flex justify-content-start mb-2">
               <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{{item.product.image.url}}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div class="p-3">
                    <h6 >{{item.product.name}}</h6>
                    <span><b>R{{item.product.price}} </b> <span class="text-muted small px-3 fw-bold"> Qty : {{item.quantity}}</span></span>
                    
                </div>
            </div>
            {% endfor %}
       </div>  
       
    </div>
                <div class="row p-2 border  shadow " style="background-color:white;">
                    <h6 class="text-muted fw-bold"> Extras</h6>
                    {% for extra in extras %}
                     <div class="">
                    
                        <div class="px-3 d-flex justify-content-between">
                            <div class="">
                                <h6 class="mb-0 pb-0">{{extra.extra.name}} </h6>
                                <span><b>R{{extra.extra.price}}</b> <span class="text-muted small px-3 fw-bold"> </span></span>
                            </div>
                            
                        </div>
                        <hr style="border:1px solid black;">
                    </div>
                    {% endfor %}

                  
                </div>

  </div>
</div>






<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel " style="z-index: 1350;">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel " class=" text-center w-100 d-flex justify-content-center fw-bold">Order items</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-light shadow border p-4">
    <div class="  w-100 mb-3" >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <h6 class="fw-bold">Deliverd Tue ,21 November 2024</h6>
             <p><i class="fa fa-user-circle text-success"></i> Signed by {{user.first_name}} <span class="text-muted small">(customer)</span></p>
        </div>
       
       <div class=" p-4 border shadow shadow" style="background-color:white;">
            <h6 class="text-muted">Invoice items</h6>
            <br>
            {% for item in order_items %}
                <a href="{% url 'view_product' item.product.id %}">
                   <div class="d-flex justify-content-start mb-2">
                       <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                            <img src="{% static 'images/order.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                        <div class="p-3">
                            <h6 >{{item.product.name}} </h6>
                            <span><b>R{{item.product.price}} </b> <span class="text-muted small px-3 fw-bold"> Qty : 1</span></span>
                            
                        </div>
                    </div>
                </a>
            {% endfor %}
           

    </div>
  </div>
        
</div>
{% endblock %}