{% extends 'home/buyer_dashboard.html' %}

{% block title %}Order History{% endblock %}

{% block styles %}

{% endblock %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background: linear-gradient(135deg,  #1a2848, #2c76b7); border-radius: 0; padding: 8px 15px;">

            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" style="color: white; text-decoration: none;">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dash' %}" style="color: white; text-decoration: none;">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'order_history' %}" style="color: white; text-decoration: none;">Order history</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="color: white;"> Order details</li>
        </ol>
    </nav>

    <!-- Filter Options for Order History -->
    <div class="mb-4 d-flex justify-content-end">
        <div>
            
            <a class="btn btn-outline-dark rounded-0 " href="{% url 'order_history'%}"> View Orders</a>

        </div>
    </div>

    <div id="viewdetails" style="display:block;">
        <div class="  w-100 mb-5" >
            <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
                <div class=" " >
                    <span class="px-3 "><b>Order #123456</b></span>
                    <span class="border border" style="width: 2px; height: 100%; background-color: black; margin-top: -20px;"></span>

                    <span class="px-3">Ordered 16 May 2024 </span>

                     <span class="border border" style="width: 2px; height: 100%; background-color: black; margin-top: -20px;"></span>

                    <span class="px-3"> Paid 16 May 2024 </span>
                </div>
                <div class="">
                    
                   <button class="btn btn-dark rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">View Invoice</button>
                </div>
                
            </div>
           
           <div class=" d-flex justify-content-between p-4 border shadow shadow " style="background-color:white;">
               <div class="w-75">

                    <h6 class="fw-bold"><i class="fa fa-shopping-cart"></i> Shipping address</h6><br>
                   <span class="text-muted small">Jeff</span><br>
                   <span class="text-muted small">Next to kwena</span><br>
                   <span class="text-muted small">34 Fortuna Ave</span><br>
                   <span class="text-muted small">Bedworth Park</span><br>
                   <span class="text-muted small">Vereeniging</span><br>
                   <span class="text-muted small">1939</span>

               </div>
               

               <div class="w-75">
                   <div>
                        <h6 class="fw-bold"><i class="fa fa-car"></i> Delivery Method</h6><br>
                        <span class="text-muted small">Standard</span><br>
                   </div>
                   <div class="mt-4">
                        <h6 class="fw-bold"><i class="fa fa-credit-card"></i> Payment Method</h6><br>
                        <span class="text-muted small">Credit / debit card</span><br>
                    </div>
               </div>

               <div class="w-75">
                    <h6 class="fw-bold"><i class="fa fa-list"></i> Order Summary</h6><br>
                     <span class="d-flex justify-content-between text-muted small">2 items  <b>R 600</b></span>
                    <span class="d-flex justify-content-between text-muted small" >Deslivery <b>R 50 </b></span><br><br>
                    <span class="d-flex justify-content-between text-muted small">Order Total <b>R 650</b></span>
                    <span class="d-flex justify-content-between text-muted small">Paid (credit/debit card) <b>- R 650</b></span><br>


               </div>

           </div>  
        </div>

       <div class="  w-100 " >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <div class="" >
                <h6 class="fw-bold">Deliverd Tue ,21 November 2024</h6>
                <p><i class="fa fa-user-circle text-success"></i> Signed by {{user.first_name}} <span class="text-muted small">(customer)</span></p>
            </div>
            <div class="">
                
                <button class="btn btn-dark rounded-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1" aria-controls="offcanvasRight">Show items</button>
            </div>
            
        </div>
       
       <div class=" d-flex justify-content-start p-4 border shadow shadow" style="background-color:white;">
           <div class="border rounded mx-1" style="max-width: 120px; max-height: 120px; overflow: hidden;">
                <img src="{% static 'images/order.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
            </div>

             <div class="border rounded mx-1" style="max-width: 120px; max-height: 120px; overflow: hidden;">
                <img src="{% static 'images/order2.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
            </div> 
       </div>  
       </div>
        

    </div>















<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel " style="width:50%">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel" class=" text-center w-100 d-flex justify-content-center fw-bold">Invoices</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-light shadow border p-4 ">
    <div class="p-3 w-100 border fw-bold mb-3" style="background-color:white;">
        Order #152576343, 16 May 2024
    </div>

    <div class="  w-100 mb-3" >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <div class="" >
                <h6 class="">Sold by : <span class="fw-bold">Sixskies</span></h6>
               <span class="text-muted small">Invoice Total: R 300</span>
            </div>
            <div class="">
                
               
                <button class="btn btn-dark rounded-0"><i class="fa fa-download"></i> Download invoice</button>
            </div>
            
        </div>
       
       <div class=" p-4 border shadow shadow" style="background-color:white;">
            <h6 class="text-muted">Invoice items</h6>
            <br>
           <div class="d-flex justify-content-start mb-2">
               <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{% static 'images/order.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div class="p-3">
                    <h6 >Volkano earpods </h6>
                    <span><b>R300 </b> <span class="text-muted small px-3 fw-bold"> Qty : 1</span></span>
                    
                </div>
            </div>
       </div>  

    </div>

    <div class="  w-100 mb-3" >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <div class="" >
                <h6 class="">Sold by : <span class="fw-bold">Techno Spec.</span></h6>
               <span class="text-muted small">Invoice Total: R 300</span>
            </div>
            <div class="">
                
               
                <button class="btn btn-dark rounded-0"><i class="fa fa-download"></i> Download invoice</button>
            </div>
            
        </div>
       
       <div class=" p-4 border shadow shadow" style="background-color:white;">
            <h6 class="text-muted">Invoice items</h6>
            <br>
          

             <div class="d-flex justify-content-start mb-2">
               <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{% static 'images/order2.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div class="p-3">
                    <h6 >Teen Wolf Combo Keyboard and mouse RGB </h6>
                    <span><b>R300 </b> <span class="text-muted small px-3 fw-bold"> Qty : 1</span></span>
                    
                </div>
            </div>
       </div>  
       
    </div>


  </div>
</div>






<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight1" aria-labelledby="offcanvasRightLabel " style="width:50%">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel " class=" text-center w-100 d-flex justify-content-center fw-bold">Order items</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body bg-light shadow border p-4">
    <div class="  w-100 mb-3" >
        <div class="d-flex justify-content-between w-100 p-3  border shadow" style="background-color:white;">
            <h6 class="fw-bold">Deliverd Tue ,21 November 2024</h6>
             <p><i class="fa fa-user-circle text-success"></i> Signed by {{user.first_name}} <span class="text-muted small">(customer)</span></p>
        </div>
       
       <div class=" p-4 border shadow shadow" style="background-color:white;">
            <h6 class="text-muted">Invoice items</h6>
            <br>
           <div class="d-flex justify-content-start mb-2">
               <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{% static 'images/order.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div class="p-3">
                    <h6 >Volkano earpods </h6>
                    <span><b>R300 </b> <span class="text-muted small px-3 fw-bold"> Qty : 1</span></span>
                    
                </div>
            </div>
            <div class="d-flex justify-content-start mb-2">
               <div class="border rounded mx-2 " style="max-width: 120px; max-height: 120px; overflow: hidden;">
                    <img src="{% static 'images/order2.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                </div>
                <div class="p-3">
                    <h6 >Teen Wolf Combo Keyboard and mouse RGB </h6>
                    <span><b>R300 </b> <span class="text-muted small px-3 fw-bold"> Qty : 1</span></span>
                    
                </div>
            </div>
       </div>  

    </div>
  </div>
</div>
{% endblock %}