{% extends 'products/shop_base.html' %}

{% block title %}Wish List{% endblock %}
{% load static %}
{% block nav %}
            <ul class="nav flex-column px-3 mt-3">
                <div class="flex-container ">
                    
                    <h5 class="fw-bold">Profile </h5>
                    <hr >
                </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'profile' %}">
                        <i class="fas fa-user me-2"></i> Personal details
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'account_settings' %}">
                        <i class="fas fa-cog me-2"></i> Account Settings
                    </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'address' %}">
                        <i class="fas fa-user-cog me-2"></i> Address Book
                    </a>
                </li>
                  <div class="flex-container ">

                <h5 class="fw-bold">Orders</h5>
                 <hr >
             </div>

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'order_history' %}">
                        <i class="fas fa-history me-2"></i> Order History
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center active" href="{% url 'wish_lists' %}">
                        <i class="fas fa-heart me-2"></i> Wish Lists
                    </a>
                </li>
            
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_reviews' %}">
                        <i class="fas fa-star me-2"></i> Reviews
                    </a>
                </li>
                <!-- Payment Section -->
                <div class="flex-container">
                    <h5 class="fw-bold text-white">Payment</h5>
                    <hr>
                </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'credit' %}">
                        <i class="fas fa-credit-card me-2"></i> Credit & Refunds
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'gift_card' %}">
                        <i class="fas fa-gift me-2"></i> Gift Card
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'referrals_earnings' %}">
                        <i class="fas fa-users me-2"></i> Referrals & Earnings
                    </a>
                </li>

                <!-- More Section -->
                <div class="flex-container">
                    <h5 class="fw-bold text-white">More</h5>
                    <hr>
                </div>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-headset me-2"></i> Subscription Plan
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-history me-2"></i> Payment History
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center" href="{% url 'buyer_support' %}">
                        <i class="fas fa-life-ring me-2"></i> Support
                    </a>
                </li>   
            </ul>
            {% endblock %}
{% block content %}
<div class="container  p-0">
    <!-- Breadcrumb navigation -->
    <nav aria-label="breadcrumb ">
        <ol class="breadcrumb" style=" border-radius: 0; padding: 8px 15px;">

            <li class="breadcrumb-item">
                <a href="{% url 'home' %}" class="text-dark text-decoration-none">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'dash' %}" class="text-dark text-decoration-none">Dashboard</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page" style="color: black;">Wish List</li>
        </ol>
    </nav>

    <!-- Wish List Section -->
    <div class="row pad">
        
            <div class="col-12 text-center p-3 py-2 d-flex justify-content-between pad">
                
                <h4 class="text-muted">My list</h4>
               
                <p class="text-muted">You have {{wishlist_items_count}} items in your wish list!</p>
            </div>
        {% if wishlist_items %}
            {% for wishlist_item in wishlist_items %}
            <div class="pad">
               <div class="row p-4 border  shadow d-flex justify-content-between mb-3" style="background-color:white;">
               
              

                <div class="col-12 col-md-6 d-flex justify-content-start mb-2">
                        <div class="border rounded mx-2 " style="width: 150px; height: 150px; overflow: hidden;">
                            <img src="{% static 'images/order2.png' %}" alt="product image" style="width: 100%; height: 100%; object-fit: contain;">
                        </div>
                        <div class="p-3">
                            <h6 >{{wishlist_item.product.name}} </h6>
                            <span class="text-primary small">{{wishlist_item.product.business}}</span><br>
                            <i class="fa fa-star text-warning"></i><span class="text-muted small fw-bold"> 4.6</span><br>
                            <span class="text-dark fw-bold">In-Stock : <button class="btn btn-light border  p-1 mx-3 small">BWP</button></span><br>
                            
                        </div>
                </div>

                    <div class="col-12 col-md-6 mt-3">
                        <div class="d-flex justify-content-end">
                            <h5 class="fw-bold ">R {{wishlist_item.product.price}}</h5>
                        </div>
                         <div class="d-flex justify-content-end">
                            <del><h6 class="text-muted small fw-bold">R 530</h6></del>
                        </div>

                        <div class="d-flex justify-content-end">
                            <button class="btn btn-dark rounded-0 mx-2" onclick="deleteWishlist({{wishlist_item.id}})"><i class="fa fa-trash"></i> </button>
                            <button class="btn btn-success rounded-0 " onclick="addCart({{wishlist_item.product.id}})"><i class="fa fa-plus"></i> <i class="fa fa-shopping-cart"></i> Add to Cart</button>  

                        </div>
                        
                    </div>
               </div> 
           </div>
            {% endfor %} 
        {% else %}
            <!-- No Wish List Items Found -->
           <div class="col-12 text-center py-5 " >
                <i class="fa fa-heart" style="color: gray; font-size: 2rem;"></i>
                <h4 class="text-muted">Your Wishlist  is Empty!</h4>
                <p class="text-muted">Start adding your favorite items and plan ahead for special occasions!</p>
                <a href="{% url 'home' %}" class="btn btn-outline-primary rounded-pill" style="border-color: #165baa; color: #165baa;">
                    <i class="fas fa-shopping-cart"></i> Continue Shopping
                </a>
            </div> 
        {% endif %}      
</div>
<script src="{% static 'user/js/cart.js' %}"></script>
{% endblock %}
