{% extends "base.html" %}

{% block title %}OneCart Discovery Eats{% endblock %}

{% block brand %}OneCart Discovery Eats{% endblock %}

{% block sidemenu %}
<a class="nav-link link-theme" href="/">
    <i class="bi bi-house-fill"></i> Home
</a>
<a class="nav-link link-theme" href="{% url 'shop:menu' %}">
    <i class="bi bi-grid-fill"></i> Menu
</a>
<a class="nav-link link-theme" href="{% url 'shop:cart' %}">
    <i class="bi bi-cart-fill"></i> Cart
</a>
<a class="nav-link link-theme" href="{% url 'shop:orders' %}">
    <i class="bi bi-bag-fill"></i> Orders
</a>
{% endblock %}

{% block navigation %}
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <button class="btn btn-link link-theme" onclick="toggleTheme()">
            <i class="bi bi-moon-fill"></i>
        </button>
    </li>
    <li class="nav-item">
        <a class="nav-link link-theme" href="{% url 'shop:cart' %}">
            <i class="bi bi-cart-fill"></i>
        </a>
    </li>
</ul>
{% endblock %}

{% block footer %}&copy; 2025 OneCart Discovery Eats{% endblock %}
